1. The process of downloading major stock indices data provided by Yahoo Finance and processing as Dataframe
    - Continue from "01_02 yahoo_finance stock_indices download historical price.ipynb"
    - Create 'Tickers' list from DataFrame column    
    - Download multi historical price data from yahoo finance
        - Input : indices ticker list
        - Output: DataFrames of multi historical data, Export Dataframe to excel file or csv file

In [1]:
# Loading Python Packages to use 
import yfinance as yf
import pandas as pd                

# use the code from "01_02 yahoo_finance stock_indices download historical price.ipynb"

major_indices = pd.DataFrame(pd.read_html("https://finance.yahoo.com/world-indices")[0])

# Slicing columns
i = 5                                       # set column counter variable, change i to slicing columns
major_indices1 = major_indices.iloc[:, :i]  # create another dataframe 'major_indices1'
major_indices1
drop_row_index_list = [4,5,7,11,12,13,14,20,25,28,31,33,34,35]  

major_indices2 = major_indices.drop(drop_row_index_list,axis=0)       
major_indices1_2 = major_indices1.drop(drop_row_index_list,axis=0) #Datafrmae to use

2. Create Ticker list to use yahoo download
    - Use ['Symbol'] column in 'major_indices1_2' DataFrame
    - :   .values.tolist()

In [2]:
Tks=major_indices1_2['Symbol'].values.tolist()
Tks

['^GSPC',
 '^DJI',
 '^IXIC',
 '^NYA',
 '^RUT',
 '^FTSE',
 '^GDAXI',
 '^FCHI',
 '^N225',
 '^HSI',
 '000001.SS',
 '399001.SZ',
 '^STI',
 '^AORD',
 '^BSESN',
 '^JKSE',
 '^KLSE',
 '^KS11',
 '^TWII',
 '^BVSP',
 '^MXX',
 '^MERV']

In [3]:
# Declare historical price variables[symbols('ticker'), date, interval, etc]
# yf.download(ticker, start, end, interval, etc) input varibales:'ticker', 'start=', 'end=', 'interval=' etc
tk = Tks                    # Use ticker list 'Tks' of 'Symbol' from DataFrame 'major_indices1_2' 

s_d = '2019-12-20'          # start date
e_d = '2022-12-31'          # end date, if it is up to today, just drop 'end' parameter
periods = 'ytd'             # Valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
interval='1d'               # Valid interval : Daily;'1D', Weekly:'1wk',monthly:'1mo', 3month :'3mo'

3. Download multi ticker data

In [4]:
# 3.1 Download multi index price data
df_ytd =pd.DataFrame(yf.download(tk,period='ytd',interval=interval))
df_ytd

[*********************100%***********************]  22 of 22 completed

              Adj Close                                           \
              000001.SS     399001.SZ        ^AORD        ^BSESN
Date
2023-01-02          NaN           NaN          NaN  61167.789062
2023-01-03  3116.510010  11117.129883  7131.100098  61294.199219
2023-01-04  3123.520020  11095.370117  7249.100098  60657.449219
2023-01-05  3155.219971  11332.009766  7259.299805  60353.269531
2023-01-06  3157.639893  11367.730469  7308.799805  59900.371094
2023-01-09  3176.080078  11450.150391  7355.799805  60747.308594
2023-01-10  3169.510010  11506.790039  7336.600098  60115.480469
2023-01-11  3161.840088  11439.440430  7406.399902  60105.500000
2023-01-12  3163.449951  11465.730469  7489.899902  59958.031250
2023-01-13  3195.310059  11602.299805  7540.100098  60261.179688
2023-01-16  3227.592041  11785.769531  7605.000000  60092.968750
2023-01-17  3224.239990  11800.549805  7597.600098  60655.718750
2023-01-18  3224.409912  11810.660156  7609.500000  61045.738281
2023-01-19  3240.280029  11913.259766  7648.399902  60858.429688
2023-01-20  3264.813721  11980.620117  7666.299805  60621.769531

                                                                   \
                    ^BVSP          ^DJI        ^FCHI        ^FTSE
Date
2023-01-02  106376.000000           NaN  6594.569824          NaN
2023-01-03  104166.000000  33136.371094  6623.890137  7554.100098
2023-01-04  105334.000000  33269.769531  6776.430176  7585.200195
2023-01-05  107518.000000  32930.078125  6761.500000  7633.500000
2023-01-06  108836.000000  33630.609375  6860.950195  7699.500000
2023-01-09  109227.000000  33517.648438  6907.359863  7724.899902
2023-01-10  110912.000000  33704.101562  6869.140137  7694.500000
2023-01-11  111763.000000  33973.011719  6924.189941  7725.000000
2023-01-12  111877.000000  34189.968750  6975.680176  7794.000000
2023-01-13  111036.000000  34302.609375  7023.500000  7844.100098
2023-01-16  109213.000000           NaN  7043.310059  7860.100098
2023-01-17  111439.000000  33910.851562  7077.160156  7851.000000
2023-01-18  112452.000000  33296.960938  7083.390137  7830.700195
2023-01-19  113006.000000  33044.558594  6951.870117  7747.299805
2023-01-20  112040.640625  33375.488281  6995.990234  7770.589844

                                       ...     Volume                       \
                  ^GDAXI        ^GSPC  ...      ^JKSE        ^KLSE   ^KS11
Date                                   ...
2023-01-02  14069.259766          NaN  ...  109645000          NaN  346100
2023-01-03  14181.669922  3824.139893  ...  156894900   59804600.0  410000
2023-01-04  14490.780273  3852.969971  ...  142541400   99239400.0  412700
2023-01-05  14436.309570  3808.100098  ...  180589300  114428100.0  430800
2023-01-06  14610.019531  3895.080078  ...  109855600   73345700.0  398300
2023-01-09  14792.830078  3892.090088  ...  135949700  107069100.0  341100
2023-01-10  14774.599609  3919.250000  ...  144817300  148942700.0  359600
2023-01-11  14947.910156  3969.610107  ...  124903900  130154200.0  368800
2023-01-12  15058.299805  3983.169922  ...  148901900  147707800.0  580100
2023-01-13  15086.519531  3999.090088  ...  165594900  120946200.0  861700
2023-01-16  15134.040039          NaN  ...  154893500  118165300.0  517800
2023-01-17  15187.070312  3990.969971  ...  217634400  109129200.0  536000
2023-01-18  15181.799805  3928.860107  ...  194959200  112489800.0  536200
2023-01-19  14920.360352  3898.850098  ...  154234600  132631400.0  369900
2023-01-20  15033.559570  3972.610107  ...          0          0.0  302506

                                                                     \
           ^MERV       ^MXX       ^N225          ^NYA          ^RUT
Date
2023-01-02   0.0   10617600         NaN           NaN           NaN
2023-01-03   0.0   64955500         NaN  3.959140e+09  3.959140e+09
2023-01-04   0.0  113054700  83300000.0  4.414080e+09  4.414080e+09
2023-01-05   0.0  139834800  72300000.0  3.893450e+09  3.893450e+09
2023-01-06   0.0  109031000  68200000.0  3.923560e+09  3.923560e+09
2023-01-09   0.0  126915200         NaN  4.311770e+09  4.311770e+09
2023-01-10   0.0  131270700  71200000.0  3.851030e+09  3.851030e+09
2023-01-11   0.0  155651700  62400000.0  4.303360e+09  4.303360e+09
2023-01-12   0.0  173800900  77000000.0  4.440260e+09  4.440260e+09
2023-01-13   0.0  128172400  98300000.0  3.939700e+09  3.939700e+09
2023-01-16   0.0   46998100  71700000.0           NaN           NaN
2023-01-17   0.0  132114900  68100000.0  4.235560e+09  4.235560e+09
2023-01-18   0.0  133000900  93400000.0  4.298710e+09  4.298710e+09
2023-01-19   0.0  154775500  68700000.0  3.991500e+09  3.991500e+09
2023-01-20   NaN  121184448         0.0  0.000000e+00  0.000000e+00


                   ^STI      ^TWII
Date
2023-01-02          NaN        NaN
2023-01-03  216626100.0  1816400.0
2023-01-04  235212800.0  2073800.0
2023-01-05  364196800.0  2086500.0
2023-01-06  276382400.0  1741200.0
2023-01-09  353167100.0  2581100.0
2023-01-10  332067100.0  2069800.0
2023-01-11  272259700.0  1986800.0
2023-01-12  278185500.0  1812900.0
2023-01-13  267767300.0  1786500.0
2023-01-16  199063500.0  1611600.0
2023-01-17  186019600.0  1772600.0
2023-01-18  210253800.0        NaN
2023-01-19  188376400.0        NaN
2023-01-20          0.0        NaN

[15 rows x 132 columns]

In [5]:
# 3.2 Download only 'Adj Close' column
df_ytd_adj_c=pd.DataFrame(yf.download(tk,period='ytd',interval=interval)['Adj Close'])
df_ytd_adj_c

[*********************100%***********************]  22 of 22 completed

,000001.SS,399001.SZ,^AORD,^BSESN,^BVSP,^DJI,^FCHI,^FTSE,^GDAXI,^GSPC,...,^JKSE,^KLSE,^KS11,^MERV,^MXX,^N225,^NYA,^RUT,^STI,^TWII
Date,,,,,,,,,,,,,,,,,,,,,
2023-01-02,NaN,NaN,NaN,61167.789062,106376.000000,NaN,6594.569824,NaN,14069.259766,NaN,...,6850.983887,NaN,2225.669922,207054.296875,48993.238281,NaN,NaN,NaN,NaN,NaN
2023-01-03,3116.510010,11117.129883,7131.100098,61294.199219,104166.000000,33136.371094,6623.890137,7554.100098,14181.669922,3824.139893,...,6888.757812,1473.989990,2218.679932,198360.500000,49050.460938,NaN,15154.450195,1750.729980,3245.800049,14224.120117
2023-01-04,3123.520020,11095.370117,7249.100098,60657.449219,105334.000000,33269.769531,6776.430176,7585.200195,14490.780273,3852.969971,...,6813.238770,1469.550049,2255.979980,201060.593750,50161.269531,25716.859375,15350.299805,1772.540039,3242.459961,14199.129883
2023-01-05,3155.219971,11332.009766,7259.299805,60353.269531,107518.000000,32930.078125,6761.500000,7633.500000,14436.309570,3808.100098,...,6653.840820,1480.930054,2264.649902,209646.000000,50805.210938,25820.800781,15225.400391,1753.189941,3292.659912,14301.049805
2023-01-06,3157.639893,11367.730469,7308.799805,59900.371094,108836.000000,33630.609375,6860.950195,7699.500000,14610.019531,3895.080078,...,6684.558105,1480.550049,2289.969971,213794.296875,51730.500000,25973.849609,15539.740234,1792.800049,3276.719971,14373.339844
2023-01-09,3176.080078,11450.150391,7355.799805,60747.308594,109227.000000,33517.648438,6907.359863,7724.899902,14792.830078,3892.090088,...,6688.265137,1493.420044,2350.189941,215724.703125,52280.050781,NaN,15514.440430,1795.910034,3305.669922,14752.209961
2023-01-10,3169.510010,11506.790039,7336.600098,60115.480469,110912.000000,33704.101562,6869.140137,7694.500000,14774.599609,3919.250000,...,6622.499023,1485.130005,2351.310059,215811.000000,52344.019531,26175.560547,15608.169922,1822.650024,3262.909912,14802.959961
2023-01-11,3161.840088,11439.440430,7406.399902,60105.500000,111763.000000,33973.011719,6924.189941,7725.000000,14947.910156,3969.610107,...,6584.453125,1487.869995,2359.530029,224627.500000,53209.000000,26446.000000,15749.089844,1844.050049,3271.510010,14751.440430
2023-01-12,3163.449951,11465.730469,7489.899902,59958.031250,111877.000000,34189.968750,6975.680176,7794.000000,15058.299805,3983.169922,...,6629.934082,1488.660034,2365.100098,234153.703125,53593.859375,26449.820312,15859.549805,1876.060059,3267.780029,14731.639648
2023-01-13,3195.310059,11602.299805,7540.100098,60261.179688,111036.000000,34302.609375,7023.500000,7844.100098,15086.519531,3999.090088,...,6641.830078,1495.030029,2386.090088,242154.500000,53576.718750,26119.519531,15918.370117,1887.030029,3293.750000,14824.129883
2023-01-16,3227.592041,11785.769531,7605.000000,60092.968750,109213.000000,NaN,7043.310059,7860.100098,15134.040039,NaN,...,6688.057129,1493.560059,2399.860107,250556.000000,53631.890625,25822.320312,NaN,NaN,3283.600098,14927.009766
2023-01-17,3224.239990,11800.549805,7597.600098,60655.718750,111439.000000,33910.851562,7077.160156,7851.000000,15187.070312,3990.969971,...,6767.339844,1499.380005,2379.389893,260750.000000,53128.968750,26138.679688,15883.559570,1884.290039,3280.510010,14932.929688
2023-01-18,3224.409912,11810.660156,7609.500000,61045.738281,112452.000000,33296.960938,7083.390137,7830.700195,15181.799805,3928.860107,...,6765.786133,1495.500000,2368.320068,235372.406250,53218.828125,26791.119141,15649.129883,1854.359985,3289.550049,NaN
2023-01-19,3240.280029,11913.259766,7648.399902,60858.429688,113006.000000,33044.558594,6951.870117,7747.299805,14920.360352,3898.850098,...,6819.907227,1496.219971,2380.340088,235179.703125,53382.648438,26405.230469,15569.629883,1836.349976,3276.179932,NaN
2023-01-20,3264.813721,11980.620117,7666.299805,60621.769531,112040.640625,33375.488281,6995.990234,7770.589844,15033.559570,3972.610107,...,6874.931152,1500.329956,2395.260010,NaN,53947.039062,26553.529297,15777.546875,1867.335571,3293.709961,NaN

In [6]:
# 3.3 Download 10-year monthly data
df_10yr_adj_c=pd.DataFrame(yf.download(tk,period='10y',interval='1mo')['Adj Close'])
df_10yr_adj_c

[*********************100%***********************]  22 of 22 completed

,000001.SS,399001.SZ,^AORD,^BSESN,^BVSP,^DJI,^FCHI,^FTSE,^GDAXI,^GSPC,...,^JKSE,^KLSE,^KS11,^MERV,^MXX,^N225,^NYA,^RUT,^STI,^TWII
Date,,,,,,,,,,,,,,,,,,,,,
2013-02-01,2365.593018,9641.332031,5120.399902,18861.539062,57424.000000,14054.490234,3723.000000,6360.799805,7741.700195,1514.680054,...,4795.789062,1637.630005,2026.489990,3048.550049,44120.988281,11559.360352,8868.719727,911.109985,3269.949951,7897.949707
2013-03-01,2236.621094,8889.669922,4979.899902,18835.769531,56352.000000,14578.540039,3731.419922,6411.700195,7795.310059,1569.189941,...,4940.985840,1671.630005,2004.890015,3380.780029,44077.089844,12397.910156,9107.040039,951.539978,3308.100098,7918.579590
2013-04-01,2177.912109,8691.291992,5168.600098,19504.179688,55910.000000,14839.799805,3856.750000,6430.100098,7913.709961,1597.569946,...,5034.070801,1717.650024,1963.949951,3845.939941,42263.480469,13860.860352,9276.879883,947.460022,3368.179932,8093.629395
2013-05-01,2300.594971,9257.846680,4914.000000,19760.300781,53506.000000,15115.570312,3948.590088,6583.100098,8348.839844,1630.739990,...,5068.627930,1769.219971,2001.050049,3489.429932,41588.320312,13774.540039,9302.269531,984.150024,3311.370117,8254.767578
2013-06-01,1979.206055,7694.383789,4775.399902,19395.810547,47457.000000,14909.599609,3738.909912,6215.500000,7959.220215,1606.280029,...,4818.895020,1773.540039,1863.319946,2976.270020,40623.300781,13677.320312,9112.690430,977.479980,3150.439941,8062.179199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-01,3089.260010,11015.990234,7221.700195,60840.738281,NaN,33147.250000,6473.759766,7451.700195,13923.589844,3839.500000,...,6850.619141,1495.489990,2236.399902,NaN,48463.859375,26094.500000,NaN,1761.250000,3251.320068,14137.690430
2022-12-31,NaN,NaN,NaN,NaN,113006.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01,3240.280029,11913.259766,7648.399902,60858.429688,NaN,33044.558594,6951.870117,7747.299805,14920.360352,3898.850098,...,6819.907227,1496.219971,2380.340088,NaN,53382.648438,26405.230469,NaN,1836.349976,3276.179932,14932.929688
2023-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14932.929688
2023-01-20,3264.813721,11980.620117,7666.299805,60621.769531,112040.640625,33375.488281,6995.990234,7770.589844,15033.559570,3972.610107,...,6874.931152,1500.329956,2395.260010,NaN,53947.039062,26553.529297,15777.546875,1867.335571,3293.709961,NaN

In [7]:
# 3.4 Download from start date to end date
df = pd.DataFrame(yf.download(tk,start=s_d,end=e_d,interval=interval)['Adj Close'])
df

[*********************100%***********************]  22 of 22 completed

,000001.SS,399001.SZ,^AORD,^BSESN,^BVSP,^DJI,^FCHI,^FTSE,^GDAXI,^GSPC,...,^JKSE,^KLSE,^KS11,^MERV,^MXX,^N225,^NYA,^RUT,^STI,^TWII
Date,,,,,,,,,,,,,,,,,,,,,
2019-12-19,3017.065918,10296.290039,NaN,41673.921875,115131.0,28376.960938,5972.279785,7573.799805,13211.959961,3205.370117,...,6249.930176,1596.010010,NaN,38083.000000,44649.429688,NaN,13831.669922,1667.089966,3207.419922,12018.900391
2019-12-20,3004.937988,10229.490234,6924.399902,41681.539062,115121.0,28455.089844,6021.529785,7582.500000,13318.900391,3221.219971,...,6284.372070,1610.180054,2204.179932,38632.398438,44505.640625,23816.630859,13889.250000,1671.900024,3212.389893,11959.080078
2019-12-23,2962.750977,10056.209961,6894.700195,41642.660156,115863.0,28551.529297,6029.370117,7623.600098,13300.980469,3224.010010,...,6305.910156,1614.180054,2203.709961,39915.300781,44276.851562,23821.109375,13899.990234,1674.140015,3214.000000,12022.230469
2019-12-24,2982.680908,10189.290039,6906.399902,41461.261719,NaN,28515.449219,6029.549805,7632.200195,NaN,3223.379883,...,NaN,1604.229980,2190.080078,NaN,44157.968750,23830.580078,13895.139648,1678.010010,3221.669922,11976.379883
2019-12-25,2981.881104,10229.580078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,23782.869141,NaN,NaN,NaN,12008.129883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-26,3065.562988,10978.990234,NaN,60566.421875,108738.0,NaN,NaN,NaN,NaN,NaN,...,6835.808105,NaN,2317.139893,192477.406250,50273.890625,26405.869141,NaN,NaN,NaN,14285.129883
2022-12-27,3095.570068,11106.500000,NaN,60927.429688,108347.0,33241.558594,6550.660156,NaN,13995.099609,3829.250000,...,6923.026855,1474.689941,2332.790039,195542.796875,50440.019531,26447.869141,15218.259766,1749.520020,3266.379883,14328.429688
2022-12-28,3087.399902,11010.530273,7262.200195,60910.281250,110237.0,32875.710938,6510.490234,7497.200195,13925.599609,3783.219971,...,6850.520020,1480.109985,2280.449951,202560.203125,49648.210938,26340.500000,15037.320312,1722.020020,3266.969971,14173.099609
2022-12-29,3073.699951,10996.410156,7197.299805,61133.878906,110031.0,33220.800781,6573.470215,7512.700195,14071.719727,3849.280029,...,6860.077148,1491.630005,2236.399902,199360.703125,49517.859375,26093.669922,15241.209961,1766.250000,3249.239990,14085.019531
2022-12-30,3089.260010,11015.990234,7221.700195,60840.738281,NaN,33147.250000,6473.759766,7451.700195,13923.589844,3839.500000,...,6850.619141,1495.489990,NaN,202085.093750,48463.859375,26094.500000,15184.309570,1761.250000,3251.320068,14137.690430

4. Export Dataframe to excel file or csv file 
    - DataFrame.to_excel('File name.xlsx')
    - DataFrame.to_csv('file name.csv')

In [8]:
# Export to excel file

df_ytd.to_excel('01_03 df_ytd.xlsx')
df_10yr_adj_c.to_excel('01_03 df_10yr_adj_c.xlsx')
df.to_excel('01_03 df.xlsx')

# Export to csv file (csv file contain only date type from date datatype.)

df_ytd.to_csv('01_03 df_ytd.csv')
df_10yr_adj_c.to_csv('01_03 df_10yr_adj_c.csv')
df.to_csv('01_03 df.csv')